<div class="d-flex p-2">
  <form action="/ask" method="get">
  <input class="form-control" type="text" name="ask">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
</div>


<p class=""><%= @answer %></p>
